#divHelp {
  background-color: white;
  width: 283px;
	height: 563px;
	position: absolute;
  z-index: 2;
	display: inline-block;
}

.divSpace {
  margin-top: 30px;
}

.divEsc {
  margin-top: 30px;
}

#divPause {
  margin-top: 20px;
}

#divInfo {
  margin-top: 20px;
}

.imgkey {
  margin-left: 10px;
}

.pcontrols {
  font-family: 'Sans-Serif';
  font-size: 12px;
}

#pspace {
  margin-left: 170px;
  margin-top: -35px;
}

#ppause {
  margin-left: 70px;
  margin-top: -30px;
}

#pesc {
  margin-left: 70px;
  margin-top: -30px;
}

#pinfo {
  margin-left: 70px;
  margin-top: -30px;
}

h4 {
  text-align: center;
  font-family: 'Sans-Serif';
}