.green {
	background-color:green;
}

.rect {
	width: 25px;
	height: 25px;
	border: 3px solid black;
	
}

.tt5-a {
	position: relative;
	left: 120px;
	top: 211px;
}

.tt5-b {
	position: relative;
	left: 92px;
	top: 125px;
}

.tt5-c {
	position: relative;
	left: 120px;
	top: 121px;
}

.tt5-d {
	position: relative;
	left: 92px;
	top: 91px;
}