.rect {
	width: 25px;
	height: 25px;
	border: 3px solid black;
	
}

.orange {
	background-color:orange;
}

.tt2-a {
	position: relative;
	left: 120px;
	top: 214px;
}

.tt2-b {
	position: relative;
	left: 92px;
	top: 183px;
}

.tt2-c {
	position: relative;
	left: 64px;
	top: 152px;
}

.tt2-d {
	position: relative;
	left: 120px;
	top: 93px;
}