.yellow {
	background-color:yellow;
}

.rect {
	width: 25px;
	height: 25px;
	border: 3px solid black;
	
}

.tt4-a {
	position: relative;
	left: 120px;
	top: 213px;
}

.tt4-b {
	position: relative;
	left: 92px;
	top: 182px;
}

.tt4-c {
	position: relative;
	left: 120px;
	top: 123px;
}

.tt4-d {
	position: relative;
	left: 92px;
	top: 92px;
}